/*reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*main styling*/

html,
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2cm;
}

p {
    margin: 15px;
}

ol {
    margin-left: 10px;
}